@import "./rose-pine-moon.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

window#waybar {
  background-color: @baseTransparent;
  color: @love;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @text;
}

#workspaces button.focused {
  background-color: #64727d;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio {
  padding: 0 10px;
  margin: 0 4px;
}

@define-color baseTransparent rgba(35, 33, 54, 0.8);
